// # EDITOR

// White text
@foreground: #fafafa;
@invisibles: #616161;
// editor background
@background: #212121;
@background-lighter: #424242;
@background-lightest: #373737;
//cursor/text
@selection: #3a3a3a;

// # SYNTAX
// Comments
@light-gray: #bdbdbd;
@gray: #8d8d8d;
@gray-darker: #9e9e9e;
// Strings
@yellow: #ffecb3;
// Keywords/types/definitions
@purple: #c678dd;
// Function names
@blue: #61afef;
// Variables
@red: #e06c75;
// JSON keys/CSS property names
@cyan: #4dd0e1;
@cyan-2: #4bacb8;
// HTML attributes/CSS selectors
@green: #9cff57;
// function arguments
@orange: #ffbd45;
// Classes/constants
@orange-2: #d19a66;
//support functions/booleans/numeric constants
@orange-3: #ffcc80;
//function arguments
@orange-4: #c63f17;

//operators
@light-blue: #b3e5fc;

// Git diff colors
@git-green: #519657;
@git-red: #e53935;
@git-blue: #1976d2;
@git-yellow: lighten(@yellow, 20%);
