// These colors are specific to the theme. Do not use in a package!

// # EDITOR

// White text
@foreground: #fafafa;
@invisibles: #616161;
// editor background
@background: #212121;
@background-lighter: #424242;
@background-lightest: #373737;
//cursor/text
@selection: #3a3a3a;
@error: #880e4f;

@italic: italic;

@white: white;
// # SYNTAX
// Comments
@light-gray: #bdbdbd;
@gray: #8d8d8d;
@gray-darker: #9e9e9e;
// Symbols/quoted strings
@yellow: #ffffa6;
// Unquoted strings: heredocs, etc
@lightest-yellow: #ffffcf;
// Keywords/types/definitions
@purple: #c678dd;
//special variables (CSS)
@teal: #4db6ac;
// Function names
@blue: #61afef;
// variables
@light-blue: #bbdefb;
// unquoted object properties
@red: #e06c75;
// JSON keys/CSS property names
@cyan: #4dd0e1;
// Links/various markup elements
@cyan-2: #4bacb8;
// HTML attributes/CSS selectors
@green: #9cff57;
// function arguments
@orange: desaturate(#ffa726, 40%);
// Classes/constants
@orange-2: #d19a66;
//support functions/booleans/numeric constants
@orange-3: #ffcc80;
//function arguments
@orange-4: #c63f17;
//various
@deep-orange: #ff8a65;

// Markdown colors

// headings
@md-blue1: #90caf9;
@md-blue2: #64b5f6;
@md-blue3: #42a5f5;
@md-blue4: #2196f3;
@md-blue5: #1e88e5;
@md-blue6: #1976d2;
// italic
@md-red1: #f44336;
// bold
@md-red2: #e57373;


// CSS colors
@c-orange: #ffc400;

// Git diff colors
@git-green: #519657;
@git-red: #e53935;
@git-blue: #1976d2;
@git-yellow: lighten(@yellow, 20%);
